input[type="file"] {
    display: none;
}

.timer_button{
   margin: 0 0 0 10px;
   float:left;
   cursor: pointer;
   width: 90px;
   height: 40px;
}

.timer_box{
   /*margin: 20px 5px 0 20px;*/
   float:left;
   cursor: pointer;
   width: 50px;
   height: 40px;
}

.picdiv{
float: left;
width: 80%;
}

input[type=checkbox] {
 margin: 20px 20px 20px 10px;
 transform: scale(2);
 float:left;
 cursor: pointer;
}

.add_form{
  width: 150px;
  height: 80px;
  margin: 0 0 0 0;
}

.picbox {
  margin: 20px;
  width: 650px; 
  height: 600px; 
  float: left;
  overflow-y: scroll;
}

.buttons{
  float: left;
  width: 150px;
  margin: 0 0 0 20px;
}

.delete_button {
  width: 150px;
  height: 40px;
  margin: 20px 0 20px 0;
  cursor: pointer;
}

.add_button {
  cursor: pointer;
  width: 150px;
  height: 40px;
  margin: 10px 0 0 0;
}

.start_button {
  width: 150px;
  height: 40px;
  /*margin: 0 0 0 0*/;
  cursor: pointer;
}

.shutdown_button {
  width: 150px;
  height: 40px;
  margin: 0 0 20px 0;
  cursor: pointer;
}

.reboot_button {
  width: 150px;
  height: 40px;
  margin: 0 0 20px 0;
  cursor: pointer;
}

button {
  width: 150px;
  height: 40px;
  margin: 0 0 0 0;
  cursor: pointer;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  float:left;
}

img {
  margin: 0 20px 20px 20px;
  width: 200px;
  float: left;
}

.custom-file-upload {
    width: 20px;
    height: 60px;
    margin: 0 0 20px 0;
    cursor: pointer;
}

.circles-parent { 
   text-align:center; 
}

.circle { 
   background:green; 
   border-radius:50%; 
   display:inline-block; 
   margin:0 15px;
 }
